@layer utilities {
  .section-spacing {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @media (min-width: 768px) {
    .section-spacing {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
}